language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

sudo: false

env:
  - COMPOSER_OPTS=""
  - COMPOSER_OPTS="--prefer-lowest"

install:
  - travis_retry composer update $COMPOSER_OPTS

script:
  - if [ "$TRAVIS_PHP_VERSION" == "hhvm" ]; then bin/phpunit; fi
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then bin/phpunit -v --coverage-text --coverage-clover coverage.xml; fi
